.card {
  height: 450px;
  width: 300px;
  margin-bottom: 4rem;
  border-radius: 5px;
}

.info {
  padding: 1rem 1rem 0;
  backdrop-filter: blur(20px);
  height: 100px;
  position: relative;
  top: 350px;
}

.bold {
  font-weight: bold;
}